/* General styles for the team section */
.team-section {
    padding: 40px;
    margin: 0 100px;
}

/* For large devices (tablets and smaller desktops) */
@media screen and (max-width: 992px) {
    .team-section {
        margin: 0 50px;
    }

    .team-member {
        width: 80%;
    }

    .team-member img {
        width: 80%;
    }

    .team-header h2 {
        font-size: 1.5rem;
    }

    .carousel-controls {
        width: 40px;
    }

    .ctc-section {
        flex-direction: column;
        gap: 20px;
    }

    .ctc-image {
        flex: 0 0 100%;
    }

    .ctc-quote {
        max-width: 100%;
        padding-right: 20px;
    }
}

/* For medium devices (mobile landscape and smaller tablets) */
@media screen and (max-width: 768px) {
    .team-section {
        margin: 0 20px;
    }

    .team-member {
        width: 90%;
    }

    .team-header h2 {
        font-size: 1.5rem;
    }

    .team-member img {
        width: 80%; /* Increase image size on medium devices */
    }

    .carousel-controls {
        width: 30px;
    }

    .ctc-section {
        gap: 20px;
    }

    .ctc-image {
        flex: 0 0 100%;
    }

    .ctc-quote {
        max-width: 100%;
        padding-right: 20px;
    }
}

/* For small devices (mobile portrait) */
@media screen and (max-width: 576px) {
    .team-section {
        margin: 0 10px;
        padding: 20px;
    }

    .team-member {
        width: 100%;
        margin-bottom: 20px;
    }

    .team-header h2 {
        font-size: 1.5rem;
    }

    .team-member img {
        width: 80%; /* Increase image size on small devices */
    }

    .carousel-controls {
        width: 30px;
    }

    .carousel-indicators {
        margin-bottom: 20px;
    }

    .ctc-section {
        flex-direction: column;
        gap: 20px;
    }

    .ctc-image {
        flex: 0 0 100%;
    }

    .ctc-quote {
        max-width: 100%;
        padding-right: 0;
        margin-top: 2rem;
    }
    
    .ctc-quote h4 {
        font-size: 1.3rem;
    }

    .ctc-quote p {
        font-size: 1rem;
    }

    .ctc-quote span {
        font-size: 0.9rem;
    }
}

/* For extra small devices (very small mobile screens) */
@media screen and (max-width: 350px) {
    .team-member {
        padding: 10px;
    }

    .team-member img {
        width: 80%; /* Increase image size on very small screens */
    }

    .carousel-controls {
        font-size: 18px;
    }

    .carousel-indicators {
        margin-bottom: 15px;
    }

    .ctc-quote h4 {
        font-size: 1.2rem;
    }

    .ctc-quote p {
        font-size: 1.2rem;
    }

    .ctc-quote span {
        font-size: 0.9rem;
    }
}
