.header {
    background-color: #282f3e;
}

/* Section Hero */
.hero-container {
    margin: 0 10%;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.hero-text h1 {
    color: #fd0100;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.hero-text h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-text p {
    color: #e2d6d6;
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 500px;
    line-height: 1.6;
}

.hero-buttons a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #fd0100;
    color: #fff;
}

.btn-secondary {
    color: #fff;
}

.hero-images img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */

/* For large devices (desktops) */
@media screen and (max-width: 992px) {
    .hero {
        flex-direction: column;
        align-items: left;
        text-align: left;
    }
    .hero-container {
        margin: 0 5%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-text h2 {
        font-size: 36px;
    }
    .hero-text p {
        font-size: 14px;
        max-width: 400px;
    }
    .hero-images img {
        max-width: 70%; 
    }
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 50px 0;
    }
    .hero-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hero-text h2 {
        font-size: 32px;
    }
    .hero-text p {
        font-size: 14px;
        max-width: 100%;
    }
    .hero-images img {
        max-width: 60%; 
    }
}

/* For small devices (large smartphones) */
@media screen and (max-width: 576px) {
    .hero {
        padding: 30px 0;
    }
    .hero-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .hero-text h2 {
        font-size: 28px;
    }
    .hero-text p {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .hero-buttons a {
        padding: 8px 15px;
        margin-right: 5px;
    }
    .hero-images img {
        max-width: 50%; 
    }
}


@media screen and (max-width: 350px) {
    .hero-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .hero-text h2 {
        font-size: 24px;
    }
    .hero-text p {
        font-size: 12px;
        margin-bottom: 15px;
    }
    .hero-buttons a {
        padding: 5px 10px;
        margin-right: 3px;
    }
    .hero-images img {
        max-width: 50%; 
    }
}
