.video-reel {
    display: flex;
    margin: 50px 0;
    padding: 50px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.video {
    flex: 1;
    position: relative;
    padding-right: 50px;
}

.video video {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    object-fit: cover;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.video-text {
    flex: 1;
}

.video-text h3 {
    color: #fd0100;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-align: left; 
}

.video-text h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left; 
}

.video-text p {
    font-size: 16px;
    line-height: 1.6;
    text-align: left; 
    color: #605555;
}
