html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  background-color: #eee9e5;
  min-height: 100vh;
  overflow-x: hidden; 
}

@media (min-width: 768px) {
  body {
    font-size: 18px; 
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 20px; 
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 22px; 
  }
}
