.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin-bottom: 50px;
    gap: 30px;
}

.about-image {
    position: relative;
    flex: 1;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}

.about-text {
    flex: 1;
    padding-left: 50px;
}

.about-text h3 {
    color: #fd0100;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #605555;
}

.about-stats {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    background-color: #eee9e5;
    border-radius: 10px;
    border: 1px solid #f3d1bf; 
}

.stat-item {
    text-align: center;
    flex: 1;
}

.stat-item h4 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.stat-item p {
    font-size: 16px;
    color: #666;
}

.btn-about-us {
    background-color: #fd0100;
    color: #fff;
}
/* Pour les grands appareils */
@media screen and (max-width: 992px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about-image {
        order: 2;
        max-width: 85%;
    }

    .about-text {
        order: 1;
        padding-left: 0;
        text-align: left;
    }

    .about-stats {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .stat-item {
        padding: 20px 0;
    }
}

/* Pour les appareils moyens */
@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
        gap: 20px;
        padding: 15px;
    }

    .about-image {
        order: 2;
        max-width: 75%;
    }

    .about-text {
        order: 1;
        padding-left: 0;
        text-align: left;
    }

    .about-text h2 {
        font-size: 28px;
    }

    .about-text p {
        font-size: 14px;
    }

    .about-stats {
        flex-direction: column;
        gap: 15px;
    }

    .stat-item h4 {
        font-size: 20px;
    }

    .stat-item p {
        font-size: 14px;
    }

    .btn-about-us {
        padding: 10px 20px;
    }
}

/* Pour les petits appareils */
@media screen and (max-width: 576px) {
    .about-content {
        gap: 10px;
        padding: 10px;
    }

    .about-image {
        order: 2;
        max-width: 65%;
    }

    .about-text {
        order: 1;
    }

    .about-text h2 {
        font-size: 24px;
    }

    .about-text p {
        font-size: 14px;
    }

    .about-stats {
        gap: 10px;
    }

    .stat-item h4 {
        font-size: 18px;
    }

    .stat-item p {
        font-size: 12px;
    }

    .btn-about-us {
        padding: 8px 16px;
    }
}

/* Pour les très petits appareils */
@media screen and (max-width: 350px) {
    .about-image {
        order: 2;
        max-width: 55%;
    }

    .about-text {
        order: 1;
    }

    .about-text h2 {
        font-size: 20px;
    }

    .about-text p {
        font-size: 12px;
    }

    .about-stats {
        padding: 10px;
    }

    .stat-item h4 {
        font-size: 16px;
    }

    .stat-item p {
        font-size: 10px;
    }

    .btn-about-us {
        padding: 6px 12px;
    }
}
